<!DOCTYPE html>
<html lang="he">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="user_maintainance.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body dir="rtl">
    <div class="dropdown">
        <button class="btn btn-dark menu btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Menu
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">משחקים</a></li>
            <li><a class="dropdown-item" href="#">צ'אט</a></li>
            <li><a class="dropdown-item" href="#">קבוצות</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="col-1 symbol">
            <img class="col-3 bsymbol" src="../pictures/symbol.png">
        </div>
        <div class="row p g-5">
            <div class="col-md-15 text-center">
                <div id="title"><b>עם הנצח</b></div>
            </div>
        </div>
        <div class="row p">
            <div class="my-4">
                <div class="fs-2">משתמשים פעילים</div>
            </div>
        </div>
    </div>
    <div class="container" id="grid" dir="rtl">
        <div class="row mb-2">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="fs-4">שם פרטי</div>
            </div>
            <div class="col-2">
                <div class="fs-4">שם משפחה</div>
            </div>
            <div class="col-2">
                <div class="fs-4">כתובת מייל</div>
            </div>
            <div class="col-2">
                <div class="fs-4">תאריך לידה</div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">

            </div>
            <div class="col-2">
                <input id="active_name" type="text">
            </div>
            <div class="col-2">
                <input id="active_last_name" type="text">
            </div>
            <div class="col-2">
                <input id="active_mail" type="email">
            </div>
            <div class="col-2 date_input">
                <input id="active_d_o_b" type="date">
            </div>
        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <% active_users.forEach(item=> { %>
                <div class="row">
                    <div class="col-1 text-center fs-5 my-2">
                        <div class="pics">
                            <img src="${item.picture}">
                        </div>
                    </div>
                    <div class="col-2 text-center my-2"><%= item.First_Name %></div>
                    <div class="col-2 text-center my-2"><%= item.Last_Name %></div>
                    <div class="col-2 text-center my-2 mail"><%= item.Email %></div>
                    <div class="col-2 text-center my-2 date"><%= item.Date_Of_Birth %></div>
                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <button id="D<%= item.mail %>" class="crud"><b>מחק</b></button>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row p-2" id="join">
            <div class="my-4">
                <div class="fs-2">בקשות הצטרפות</div>
            </div>
        </div>
    </div>

    <div class="container" id="grid2">
        <div class="row mb-2">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="fs-4">שם פרטי</div>
            </div>
            <div class="col-2">
                <div class="fs-4">שם משפחה</div>
            </div>
            <div class="col-2 mail">
                <div class="fs-4">כתובת מייל</div>
            </div>
            <div class="col-2">
                <div class="fs-4">תאריך לידה</div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-1">
            </div>
            <div class="col-2">
                <input id="request_name" type="text">
            </div>
            <div class="col-2">
                <input id="request_last_name" type="text">
            </div>
            <div class="col-2 mail">
                <input id="request_mail" type="email">
            </div>
            <div class="col-2">
                <input id="request_d_o_b" type="date">
            </div>
        </div>
        <% var i=0 %>
            <% request_users.forEach(item=> { %>
                <div class="row">
                    <div class="col-1 text-center fs-5 my-2">
                        <div class="pics">
                            <img src="${item.picture}">
                        </div>
                    </div>
                    <div class="col-2 text-center my-2"><%= item.First_Name %></div>
                    <div class="col-2 text-center my-2"><%= item.Last_Name %></div>
                    <div class="col-2 text-center my-2 mail"><%= item.Email %></div>
                    <div class="col-2 text-center my-2 date"><%= item.Date_Of_Birth %></div>
                    <div class="col-1 plus">
                        <img src="../pictures/plus.jpg" id="plus<%= i %>">
                    </div>
                    <div class="col-1 d-flex align-items-center accept">
                        <button id="A<%= item.mail %>" class="crud"><b>אשר</b></button>
                    </div>
                    <div class="col-1 d-flex align-items-center deny">
                        <button id="R<%= item.mail %>" class="crud"><b>דחה</b></button>
                    </div>
                </div>
                <% i++ %>
                    <% }) %>
    </div>
    <div class="row popup">
        <div class="popup-content">
            <img class="close" src="../pictures/close.png">
            <img class="img" src="../pictures/symbol.png">
            <div class="container quiz">
                <div class="row">
                    <div class="col">
                        <div class="form-group d-flex">
                            <div class="col-6 my-2 fs-5">מתי התאהבת בביתר?</div>
                            <input class="col-4 my-2 fs-5" id="love" value="${item.when}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group d-flex">
                            <div class="col-6 my-2 fs-5">מי השחקן האהוב עליך?</div>
                            <input class="col-4 my-2 fs-5" id="player" value="${item.who}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group d-flex">
                            <div class="col-md-6 my-2 fs-5">האם אי פעם לבשת אדום?</div>
                            <input class="col-4 my-2 fs-5" id="red" value="${item.did}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="../user_maintainance.js"></script>
    <script src="user_maintainance.css"></script>
</body>

</html>